#box1 {
    color: blue;
    border-style: solid;
    border-width:5px ;
    border-color: orange;
}
#box2 {
    color: rgb(0, 0, 255);
    border: 5px solid orange;
    border-radius: 30px;
}
#box3 {
    color: #0000FF;
    border-top: 5px double red;
    border-right: 10px dotted blue;
    border-bottom: 3px groove orange;
    border-left:15px inset cyan ;
}
#box4 { 
    color:rgba(0, 0,255, 0.5);
    border-style: solid dotted groove;
    border-width: 10px 20px;
    border-color: cyan orange;
}
#box5 {
    color: hsl(240, 100%, 50%);
    color:rgba(0, 0,255, 0.5);
    border-style: solid dotted groove;
    border-width: 10px 20px;
    border-color:hsla(240, 100%, 50%, 0.3)
}
#box6 {
    color: hsla(240, 100%, 50%, 0.3);
    border: 5px solid  tomato;
    border-radius: 10px ;
}